body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 26px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 480px;
  background-color: #101f2f;
}

.block {
  width: 40px;
  height: 40px;
}

/* your code here */
/* 
.row {
  display: flex;
}

.row:first-child .block,
.row:last-child .block {
  background: #05b37b;
}

.row .block:first-child,
.row .block:last-child {
  background: #05b37b;
}

.row:nth-child(2) .block:nth-child(3),
.row:nth-child(2) .block:nth-child(8) {
  background: #05b37b;
}

.row:nth-child(3) .block:nth-child(3),
.row:nth-child(3) .block:nth-child(6),
.row:nth-child(3) .block:nth-child(7),
.row:nth-child(3) .block:nth-child(8),
.row:nth-child(3) .block:nth-child(9),
.row:nth-child(3) .block:nth-child(10) {
  background: #05b37b;
}

.row:nth-child(4) .block:nth-child(3),
.row:nth-child(4) .block:nth-child(4),
.row:nth-child(4) .block:nth-child(6),
.row:nth-child(4) .block:nth-child(8) {
  background: #05b37b;
}

.row:nth-child(5) .block:nth-child(8),
.row:nth-child(5) .block:nth-child(9),
.row:nth-child(5) .block:nth-child(10) {
  background: #05b37b;
}

.row:nth-child(6) .block:nth-child(2),
.row:nth-child(6) .block:nth-child(3),
.row:nth-child(6) .block:nth-child(4),
.row:nth-child(6) .block:nth-child(6),
.row:nth-child(6) .block:nth-child(8) {
  background: #05b37b;
}

.row:nth-child(7) .block:nth-child(6),
.row:nth-child(7) .block:nth-child(8),
.row:nth-child(7) .block:nth-child(9) {
  background: #05b37b;
}

.row:nth-child(8) .block:nth-child(3),
.row:nth-child(8) .block:nth-child(5),
.row:nth-child(8) .block:nth-child(6),
.row:nth-child(8) .block:nth-child(11) {
  background: #05b37b;
}

.row:nth-child(9) .block:nth-child(3),
.row:nth-child(9) .block:nth-child(9) {
  background: #05b37b;
}

.row:nth-child(10) .block:nth-child(3),
.row:nth-child(10) .block:nth-child(4),
.row:nth-child(10) .block:nth-child(5),
.row:nth-child(10) .block:nth-child(6),
.row:nth-child(10) .block:nth-child(7),
.row:nth-child(10) .block:nth-child(9),
.row:nth-child(10) .block:nth-child(11) {
  background: #05b37b;
}

.row:nth-child(11) .block:nth-child(9) {
  background: #05b37b;
} */
.row:first-child .block,
.row:last-child .block {
  background: #05b37b;
}

.block:first-child,
.block:last-child {
  background: #05b37b;
}

.wall {
  background: #05b37b;
}
